.sql-query-runner {
  padding: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: minmax(auto, 100vh);
  grid-template-areas: 
  "in tbl"
  "ot tbl"
  "ot tbl"
  "ot tbl";
  height: 100vh;
}
.query-input {
  grid-area: in;
  position: relative;
}
.query-input .run {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.query-input .run .error {
  color: red;
  font-size: large;
}
.query-input textarea {
  font-size: large;
  height: 100%;
  width: 100%;
  resize: none;
}
.query-output {
  grid-area: ot;
  overflow: scroll;
}
.avaiable-tables {
  grid-area: tbl;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.avaiable-tables .table {
  height: 100%;
  overflow: scroll;
  flex: 1;
  margin: 12px;
}
