.sql-query-runner {
  padding: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: minmax(auto, 100vh);
  grid-template-areas: 
  "in tbl"
  "ot tbl"
  "ot tbl"
  "ot tbl"
  "ot tbl"
  "ot tbl";
  height: 100vh;
}

.query-output {
  grid-area: ot;
  overflow: scroll;
}

.avaiable-tables {
  grid-area: tbl;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.avaiable-tables .table-wrapper {
  overflow: scroll;
  flex-wrap: nowrap;
  margin: 12px;
  flex: 1;
}

.import-btn {
  width: fit-content;
  align-self: flex-end;
  padding: 4px;
}
