table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  max-width: 150px;
  min-width: 50px;
  text-wrap: nowrap;
  overflow: scroll;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #d3dce6;;
  color: #000;
}