.App {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: minmax(auto, 100vh);
  grid-template-areas: 
  "in tbl"
  "ot tbl";
  height: 100vh;
}
.query-input {
  grid-area: in;
}
.query-output {
  grid-area: ot;
}
.avaiable-tables {
  grid-area: tbl;
}
